﻿<div class="card" style="width: 18rem;">
    <img src="/img/about-bg.jpg" class="card-img-top" alt="about me">
    <div class="card-body">
        <h5 class="card-title">About Me!</h5>
        <p class="card-text">Just me, my self and I, exploring the universe of uknowment. I have a heart of love and a interest</p>
    </div>
</div>
