﻿@model FA.JustBlog.Core.Models.Post

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.PostContent)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.UrlSlug)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.UrlSlug)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.PostedOn)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.PostedOn)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.Modified)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.ViewCount)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.RateCount)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.RateCount)
        </dd>
        <dt class="col-sm-5">
            @Html.DisplayNameFor(model => model.TotalRate)
        </dt>
        <dd class="col-sm-5">
            @Html.DisplayFor(model => model.TotalRate)
        </dd>
        <dt class="col-sm-5">
            Category
        </dt>
        <dd class="col-sm-5">
            @ViewData["Category"]
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
