﻿@model IEnumerable<FA.JustBlog.Core.Models.Post>
@using FA.JustBlog.View.HTMLHelper

@{
    ViewData["Title"] = "Index";
}

<h1>All posts!</h1>
<hr />
<div>
    <a class="btn btn-success" asp-action="PostOrderByPostOn">Order post by post on</a>
    <a class="btn btn-success" asp-action="Index">Order post normal</a>
</div>

@foreach (var post in Model)
{
    <div class="post-preview">

        @Html.ActionLink(
                linkText: post.Title,
                actionName: "PostByMonthYear",
                controllerName: "Home",
                routeValues: new
                {
                    year = post.PostedOn.Year,
                    month = post.PostedOn.Month.ToString("00"),
                    title = post.UrlSlug
                },
                htmlAttributes: null
                )

        <p class="post-meta">
            Posted @Html.GetFriendlyDateTimeValue(post) Viewed @post.ViewCount time(s) with Rate @post.RateCount
        </p>
        <p>@post.ShortDescription</p>
        @{
            var category = Html.GetCategory(post);
            if (category != null)
            {
                <p>Category: <a href="@Url.Action("PostByCategory", "Home", new { categoryName = category.Name })">@category.Name</a></p>

            }
            var lstTag = Html.GetTags(post);
            if (lstTag != null && lstTag!.Count != 0)
            {
                <p>
                    Tags:
                    @foreach (var tag in lstTag)
                    {
                        <a class="btn btn-dark" href="@Url.Action("GetPostByTag", "Home", new { tagName = tag.Name })">@tag.Name</a>
                    }
                </p>
            }
            else if (lstTag!.Count == 0 || lstTag == null)
            {
                <p>Tags: No tag</p>

            }
        }
    </div>
    <!-- Divider-->
    <hr class="my-4" />
}




