﻿@model IList<FA.JustBlog.Core.Models.Post>
<div class="most-viewed-posts">
    <h2>Most Viewed Posts</h2>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Post", new { id = post.Id })">
                    @post.Title (Views: @post.ViewCount)
                </a>
            </li>
        }
    </ul>
</div>
@{
}
