﻿@model IList<FA.JustBlog.Core.Models.Category>
<li class="nav-item dropdown">
    <a class=" dropdown-toggle nav-link px-lg-3 py-3 py-lg-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown link
    </a>

    <ul class="dropdown-menu ">
        @foreach (var category in Model)
        {
            <li>
                <a class="dropdown-item nav-link px-lg-3 py-3 py-lg-4" href="@Url.Action("PostByCategory", "Home", new { categoryName = category.Name })">
                    @category.Name
                </a>
            </li>
        }
    </ul>
</li>
@{
}
