﻿@model IEnumerable<FA.JustBlog.Core.Models.Post>
@using FA.JustBlog.View.HTMLHelper

@{

}
<h1>Most viewed post</h1>
<div>
    <a class="btn btn-dark" asp-action="Create">Create new post</a>
    <a class="btn btn-success" asp-action="Index">All posts</a>
    <a class="btn btn-success" asp-action="MostViewedPosts">Most view post</a>
    <a class="btn btn-success" asp-action="MostInterestedPosts">Most interest post</a>
    <a class="btn btn-success" asp-action="GetPublishedPost">Published post</a>
    <a class="btn btn-success" asp-action="GetUnpublishedPost">Unpublished post</a>
</div>
<table id="mostViewPost" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Short Description
            </th>
            <th>
                Url Slug
            </th>
            <th>
                Posted On
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>
                Title
            </th>
            <th>
                Short Description
            </th>
            <th>
                Url Slug
            </th>
            <th>
                Posted On
            </th>
        </tr>
    </tfoot>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            dataTable = $('#mostViewPost').DataTable({
                "ajax": { url: '/Admin/Post/MostViewedPostsJson' },
                "columns": [
                    { "data": "title", "width": "15%" },
                    { "data": "shortDescription", "width": "15%" },
                    { "data": "urlSlug", "width": "10%" },
                    { "data": "postedOn", "width": "10%" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<div class="text-center">
                                                    <a href="/Admin/post/details/${data}" class="btn btn-primary text-white" style='cursor:pointer; '>
                                                    Details</a>
                                                <a href="/Admin/post/edit/${data}" class='btn btn-success text-white' style='cursor:pointer; '>
                                                    Edit
                                                </a>
                                                        <a href="/Admin/Post/Delete/${data}" class='btn btn-danger text-white' style='cursor:pointer; '>
                                                    Delete
                                                </a>
                                            </div>`;
                        },
                        "width": "50%"
                    }
                ],
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            let column = this;
                            let title = column.footer().textContent;

                            // Create input element
                            let input = document.createElement('input');
                            input.placeholder = title;
                            column.footer().replaceChildren(input);

                            // Event listener for user input
                            input.addEventListener('keyup', () => {
                                if (column.search() !== this.value) {
                                    column.search(input.value).draw();
                                }
                            });
                        });
                }
            })
        }
    </script>

}
