﻿@model IEnumerable<FA.JustBlog.Core.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="categoryTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Category name
            </th>
            <th>
                Url slug
            </th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <tr>
            <th>
                Category name
            </th>
            <th>
                Url slug
            </th>
            <th>Description</th>
        </tr>
    </tfoot>
</table>

@section Scripts {
    <script >
        $(document).ready(function () {
            loadDataTable();

        });

        function loadDataTable() {
            dataTable = $('#categoryTable').DataTable({
                "ajax": { url: '/admin/category/getallcategoryjson' },
                "columns": [
                    { "data": "name", "width": "20%" },
                    { "data": "urlSlug", "width": "20%" },
                    { "data": "description", "width": "20%" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<div class="text-center">
                                        <a href="/admin/category/details/${data}" class="btn btn-primary text-white" style='cursor:pointer; '>Details</a>
                                        <a href="/admin/category/edit/${data}" class='btn btn-success text-white' style='cursor:pointer; '>
                                            Edit
                                        </a>
                                        <a href="/admin/category/Delete/${data}" class='btn btn-danger text-white' style='cursor:pointer; '>
                                            Delete
                                        </a>
                                    </div>`;
                        },
                        "width": "40%"
                    }
                ],
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            let column = this;
                            let title = column.footer().textContent;

                            // Create input element
                            let input = document.createElement('input');
                            input.placeholder = title;
                            column.footer().replaceChildren(input);

                            // Event listener for user input
                            input.addEventListener('keyup', () => {
                                if (column.search() !== this.value) {
                                    column.search(input.value).draw();
                                }
                            });
                        });
                }
            })
        }


    </script>
}