﻿@model IEnumerable<FA.JustBlog.Core.Models.Comment>

@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped" id="commentTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentTime)
            </th>
        </tr>
    </tfoot>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            dataTable = $('#commentTable').DataTable({
                "ajax": { url: '/admin/comment/GetAllCommentsJson' },
                "columns": [
                    { "data": "name", "width": "15%" },
                    { "data": "email", "width": "15%" },
                    { "data": "commentHeader", "width": "15%" },
                    { "data": "commentTime", "width": "15%" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<div class="text-center">
                                                <a href="/admin/comment/details/${data}" class="btn btn-primary text-white" style='cursor:pointer; '>Details</a>
                                                <a href="/admin/comment/edit/${data}" class='btn btn-success text-white' style='cursor:pointer; '>
                                            Edit
                                        </a>
                                                <a href="/admin/comment/Delete/${data}" class='btn btn-danger text-white' style='cursor:pointer; '>
                                            Delete
                                        </a>
                                    </div>`;
                        },
                        "width": "40%"
                    }
                ],
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            let column = this;
                            let title = column.footer().textContent;

                            // Create input element
                            let input = document.createElement('input');
                            input.placeholder = title;
                            column.footer().replaceChildren(input);

                            // Event listener for user input
                            input.addEventListener('keyup', () => {
                                if (column.search() !== this.value) {
                                    column.search(input.value).draw();
                                }
                            });
                        });
                }
            })
        }
    </script>
}
