﻿@model IEnumerable<FA.JustBlog.Core.Models.Tag>

@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-area="Admin">Create New</a>
</p>
<table id="tagTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Tag name
            </th>
            <th>
                Url slug
            </th>
            <th>Count</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
        <tr>
            <th>
                Tag name
            </th>
            <th>
                Url slug
            </th>
            <th>Count</th>
        </tr>
    </tfoot>
</table>


@await Component.InvokeAsync("ListTagTopTen")

@section Scripts {
    <script>
        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            dataTable = $('#tagTable').DataTable({
                "ajax": { url: '/admin/tag/GetAllTagsJson' },
                "columns": [
                    { "data": "name", "width": "20%" },
                    { "data": "urlSlug", "width": "20%" },
                    { "data": "count", "width": "20%" },
                    {
                        "data": "id",
                        "render": function (data) {
                            return `<div class="text-center">
                                                <a href="/admin/tag/details/${data}" class="btn btn-primary text-white" style='cursor:pointer; '>Details</a>
                                                <a href="/admin/tag/edit/${data}" class='btn btn-success text-white' style='cursor:pointer; '>
                                            Edit
                                        </a>
                                                <a href="/admin/tag/Delete/${data}" class='btn btn-danger text-white' style='cursor:pointer; '>
                                            Delete
                                        </a>
                                    </div>`;
                        },
                        "width": "40%"
                    }
                ],
                initComplete: function () {
                    this.api()
                        .columns()
                        .every(function () {
                            let column = this;
                            let title = column.footer().textContent;

                            // Create input element
                            let input = document.createElement('input');
                            input.placeholder = title;
                            column.footer().replaceChildren(input);

                            // Event listener for user input
                            input.addEventListener('keyup', () => {
                                if (column.search() !== this.value) {
                                    column.search(input.value).draw();
                                }
                            });
                        });
                }
            })
        }
    </script>
}
