﻿@model IList<FA.JustBlog.Core.Models.Tag>
<div class="most-viewed-posts">
    <h2>Most tags</h2>
    <ul>
        @foreach (var tag in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Tag", new { id = tag.Id })">
                    @tag.Name 
                </a>
            </li>
        }
    </ul>
</div>